In [1]:
import mysql.connector

Mysql Connector
===============

Python library for running queries in Mysql.

To see examples visit [this page](https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html)

If you prefer to use colab for this exersice go to [my notebook](https://colab.research.google.com/drive/1QR986lODGbbuiBVMkeFwaNQNxx9Wfc-T)

In [6]:
con = mysql.connector.connect(
  host="35.193.209.4",
  user="up",
  password="secret",
  database="up_2024_2_big_data"
)
cur = con.cursor()

In [21]:
query = """
SELECT m.title, count(a.id) AS art_count
FROM articles a
JOIN manufacturers m ON m.id=a.manufacturer_id
GROUP BY m.id
LIMIT 10
"""
cur.execute(query)

for (title, art_count) in cur:
  print(f"{title} has {art_count} articles in the store.")

ARUBA has 1 articles in the store.
IMOU has 1 articles in the store.
BROTHER has 5 articles in the store.
SPARKFUN has 1 articles in the store.
DELL has 184 articles in the store.
LINKEDPRO has 6 articles in the store.
StarTech.com has 7 articles in the store.
ACCO has 2 articles in the store.
LITE-ON has 1 articles in the store.
ALIEN has 2 articles in the store.

In [22]:
cur.execute(query)
rows = cur.fetchall()
for (title, art_count) in rows:
  print(f"{title} has {art_count} articles in the store.")

ARUBA has 1 articles in the store.
IMOU has 1 articles in the store.
BROTHER has 5 articles in the store.
SPARKFUN has 1 articles in the store.
DELL has 184 articles in the store.
LINKEDPRO has 6 articles in the store.
StarTech.com has 7 articles in the store.
ACCO has 2 articles in the store.
LITE-ON has 1 articles in the store.
ALIEN has 2 articles in the store.

In [16]:
brand = "HP"

query = """
SELECT count(a.id) AS art_count
FROM articles a
JOIN manufacturers m ON m.id=a.manufacturer_id
WHERE m.title=%s
"""
cur.execute(query, (brand,))

art_count, = cur.fetchone()

print(f"{brand} has {art_count} products in the store.")

HP has 298 products in the store.

In [14]:
cur.fetchall()

[('HP', 298)]

In [23]:
cur.close()
con.close()