In [36]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

Mysql Connector
===============

Python library for running queries in Mysql.

To see examples visit [this page](https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html)

If you prefer to use colab for this exersice go to [my notebook](https://colab.research.google.com/drive/1QR986lODGbbuiBVMkeFwaNQNxx9Wfc-T)

In [37]:
con = mysql.connector.connect(
  host="35.193.209.4",
  user="up",
  password="secret",
  database="up_2024_2_big_data"
)
cur = con.cursor()

In [38]:
engine = create_engine(f"mysql+mysqlconnector://up:secret@35.193.209.4/up_2024_2_big_data")
alc_con = engine.connect()

In [39]:
query = """
SELECT m.title, count(a.id) AS art_count
FROM articles a
JOIN manufacturers m ON m.id=a.manufacturer_id
GROUP BY m.id
LIMIT 10
"""
cur.execute(query)

for (title, art_count) in cur:
  print(f"{title} has {art_count} articles in the store.")

ARUBA has 1 articles in the store.
IMOU has 1 articles in the store.
BROTHER has 5 articles in the store.
SPARKFUN has 1 articles in the store.
DELL has 184 articles in the store.
LINKEDPRO has 6 articles in the store.
StarTech.com has 7 articles in the store.
ACCO has 2 articles in the store.
LITE-ON has 1 articles in the store.
ALIEN has 2 articles in the store.

In [40]:
cur.execute(query)
rows = cur.fetchall()
pd.DataFrame(rows, columns=('title', 'art_count'))

          title  art_count
0         ARUBA          1
1          IMOU          1
2       BROTHER          5
3      SPARKFUN          1
4          DELL        184
5     LINKEDPRO          6
6  StarTech.com          7
7          ACCO          2
8       LITE-ON          1
9         ALIEN          2

In [41]:
brand = "HP"

query = """
SELECT count(a.id) AS art_count
FROM articles a
JOIN manufacturers m ON m.id=a.manufacturer_id
WHERE m.title=%s
"""
cur.execute(query, (brand,))

art_count, = cur.fetchone()

print(f"{brand} has {art_count} products in the store.")

HP has 298 products in the store.

In [42]:
pd.read_sql("SELECT * FROM manufacturers", con=alc_con)

,id,title,icon
0,0154761b1c93a51bff3d20a0d53c00ab,ARUBA,storage/brands/hpe_aruba_r_pos_rgb.png
1,01d2f61fa66001f438aa2a65cb0aa9e5,V7,storage/brands/v7.jpg
2,02c8fe42d2760f837ac115c0082f776b,IMOU,storage/brands/02c8fe42d2760f837ac115c0082f776...
3,02fcda43ff79f7a45481a002cce98695,THORSMAN,storage/brands/02fcda43ff79f7a45481a002cce9869...
4,03b9d9b7b907a3cb052b661ef03e1ed1,BROTHER,storage/brands/brother.jpg
...,...,...,...
310,fb3b2baacaae1eaea565f0f9f9153c23,UGREEN,storage/brands/ugreen.png
311,fd976f550f84430dc88941effcf786ad,HONOR,storage/brands/HONOR.png
312,fd97b533cb1e680670edf7a52af36c6a,BOSCH,storage/brands/fd97b533cb1e680670edf7a52af36c6...
313,fdd04bf8badf5a0f0f8b433a2f0fdce0,ELO TOUCHSYSTEMS,storage/brands/elotouchsystems.png
314,fe8b38e44ecd34fd0d8e084fb90778ed,TWELVE SOUTH,storage/brands/twelvesouth.png

In [43]:
cur.close()
con.close()
alc_con.close()