Attendance by Student
=====================

In [1]:
import pandas as pd
from sqlalchemy import create_engine

We use "sqlalchemy" because pandas works best with it. Just follow instructions online.

In [2]:
engine = create_engine(f"mysql+mysqlconnector://up:secret@35.193.209.4/up_2024_2_big_data")
con = engine.connect()

Change the alias or student id to get attendance for the student

In [33]:
params = {'student_id': '0224260', 'aka': 'Alex'}

pd.read_sql("""
SELECT s.id, s.aka, concat(c.class_date, ' (', c.id, ')') 'cl', a.status, coalesce(c.question_of_the_day, '') 'q', coalesce(a.answer_of_the_day, '') 'ans'
FROM attendance a
JOIN classes c on c.id = a.class_id
JOIN students s on s.id = a.student_id
WHERE 1
-- AND s.aka = %(aka)s
AND s.id = %(student_id)s
""", params=params, con=con)

,id,aka,cl,status,q,ans
0,0224260,Alex,2024-02-10 (1),present,Algo que no sepan de mí,No me gusta el plátano
1,0224260,Alex,2024-02-17 (2),absent,Qué carrera estudiaste,
2,0224260,Alex,2024-02-24 (3),present,Color Favorito,green
3,0224260,Alex,2024-03-02 (4),present,Donde Naciste,Guadalajara
4,0224260,Alex,2024-03-09 (5),present,Libro Favorito,"Basta de Historias, Oppenheimer"
5,0224260,Alex,2024-03-16 (6),absent,Cumpleaños,
6,0224260,Alex,2024-03-23 (7),present,Hobby,Hiking
7,0224260,Alex,2024-04-13 (8),present,,

To convert to markdown run:

```sh
jupyter nbconvert 2024-04-20-class9/school.ipynb --to markdown
```